include ./includes/_slide

doctype html
html(lang="en")
  include ./includes/_head
  body
    .reveal
      .slides
        // Intro
        +group()
          section
            h1 Tug Your Site
            h1 Into CI
            hr
            h2 With Tugboat

          section
            h1
              img(data-src="images/lullabot_128.png").plain
              | Lullabot
            img(data-src="images/lullabot.jpg")
            p.fragment.fade-in Strategy // Design // Development
            small.fragment.fade-in We create digital experiences for the world's best brands.

          +slide("Chris Albrecht")
            h2 Developer
            hr
            ul.none
              li
                img(src="images/icons/SVG/mail.svg").icon
                | chris@lullabot.com
              li
                img(src="images/icons/SVG/twitter.svg").icon
                | @ChrisAlbrecht
              li
                img(src="images/icons/SVG/drupal.svg").icon
                | drupal.org/u/KeyboardCowboy

        +group()
          +slide("The Tour")
            ul
              li.fragment What is CI?
              li.fragment Typical Development Workflow
              li.fragment Drupal's Difficulties
              li.fragment Lullabot's Process
              li.fragment Tugboat to the Rescue

        +group("What is Continuous Integration (CI)?")
          +slide("Definition")
            p Merging multiple development lines of code into a mainline on a daily basis.
            p A DAILY BASIS?!
            p More of an approach to rapid development

          +slide("Tools & Services")
            p
              img(src="images/jenkins.png").icon.med
              | Jenkins
            p
              img(src="images/travis.png").icon.med
              | Travis CI
            p
              img(src="images/circleci.png").icon.med
              | Circle CI

          +slide("Not Really CI")
            p "Frequent Integration"
            p "Continuous Delivery"
            p Rapid Deployment
            p Ensure the mainline is always in a deployable state

        +group("Development Ecosystem")
          +slide("Simple Setup")
            ul
              li.fragment Local or Dev
              li.fragment Staging or Testing
              li.fragment Production
            hr
            ul
              li.fragment Less overhead
              li.fragment Higher risk
              li.fragment Quicker deployments

          +slide("Advanced Setup")
            ul
              li.fragment Local
              li.fragment Dev or Integration
              li.fragment QA
              li.fragment Stage/Test/UAT
              li.fragment Production
            hr
            ul
              li.fragment More overhead
              li.fragment Less risk
              li.fragment Slower deployments

          +slide("Drupal")
            ul
              li.fragment PHP, MySQL, Apache/NGINX
              li.fragment Admin UI for Developers AND End Users
              li.fragment In D7, Content & Config in DB
              li.fragment Large volume of code with lots of working parts

        +group("Our Process")
          +slide("Config in Code")
            p Extensive use of Features in D7
            p D8 Config Management
          +slide("Disable UI Modules")
            ul
              li Field UI
              li Views UI
              li Rules Admin
          +slide("All Config in Dev")
            ul
              li Features
              li Update hooks
              li Custom modules
          +slide("Peer Review")
            ul
              li GitHub Pull Request Workflow
              li Separate QA and UAT
            p Each adds time to deployment

        +group("Pain Points")
          +slide("Testing Install Processes")
            ul
              li "It worked on my Local!"
              li Is your DB up to date?
              li Local config vs Prod config
              li What if the deployment fails?
              li How many developers committed to the deployment?
          +slide("Epic Tickets")
            ul
              li Showing progress updates
              li Multiple developers pushing code to one server
              li Testing on actual mobile devices
          +slide("StakeHolders")
            ul
              li Can't show designers implemented designs
              li Difficult to articulate interaction flaws
              li "Why is this taking so long?"
              li Hope it all comes out right

        +group("What We Did")
          +slide("Listen for PRs")
          +slide("Fully Functional Site")
          +slide("Sharable URL")

        +group("Problems Solved")
          +slide("Push and Forget")
            ul
             li Automated builds
             li Comments success/failures
             li Work on your next ticket
          +slide("Clean Locals")
            ul
              li Don't checkout other feature branches
              li No local code conflicts
              li Keep local database clean
          +slide("Fast DB Resets")
            ul
              li Tugboat DBs reset FAST
              li Test installation processes
          +slide("Configuration mimics PROD")
            ul
              li More accurate representation
              li Catch errors early in the process
          +slide("Prevents Conflict")
            ul
              li Full site for every ticket
              li Easily support multiple devs
          +slide("Show Stakeholders")
            ul
              li Real URLs
              li Prod + Your Ticket
              li Log in, test features/fixes
          +slide("In Summary")
            ul
              li Less time resetting, more time developing
              li Less risk of merge conflict
              li More accurate testing conditions
              li Iterative feedback

              p FASTER, CLEANER DEVELOPMENT

        +group("There's More!")
          +slide("Integration")
            ul
              li GitHub
              li BitBucket
              li More coming soon
          +slide("Versatility")
            ul
              li Regular Drupal
              li Multisite Drupal
              li Any linux-based system
          +slide("UI Tools")
            ul
              li Summary Overview
              li Terminals
              li Logging
              li Reset/Rebuild
              li Locking Builds
              li Kill Environments
          +slide("Plugins")
            ul
              li Email Notifications
              li Redeploy
              li Test Suite
              li Visual Diffs


      footer#preso-footer
        span Powered by Lullabot

  include ./includes/_closing
